@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

#galeria {
  overflow-x: hidden;
}

.servicios-Box1 {
  overflow-x: hidden;
}

.text-Degrade {
  color: #6F00FF;
  background-image: -webkit-linear-gradient(225deg, #6F00FF 40%, #ef56b9 71%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.carousel-imagenes {
  height: 25em;
  object-fit: cover;
}

@media (min-width: 604px) {
  .footer-icon-conteiner img {
    width: 30% !important;
  }
}
/* Breakpoints index */
@media (min-width: 768px) {
  /* Media de index  */
  .h1-Home {
    font-size: 2.2em;
  }
  .fotos-Home {
    width: 50% !important;
  }
  .nombres-Seccion {
    text-align: center;
    font-size: 2em;
  }
  .secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .button div, .boton-nosotros-serv div {
    width: 50% !important;
  }
  /* Nosotros responsive */
  .title-Nosotros {
    font-size: 2em;
    text-align: center;
  }
  .img-Nosotros {
    width: 50% !important;
  }
  .descripciones-Nosotros {
    font-size: 1.5em;
    text-align: center;
  }
  .nosotros-Box-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .nosotros-Box-2 .nosotros-Box-2 article {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 40% !important;
  }
  .title-ser {
    font-size: 2em;
  }
  .serv-Descrip {
    font-size: 2em;
  }
  .font-Letra {
    font-size: 1.3em;
    text-align: center;
    margin: 0.4em;
  }
  .bg-Violeta li {
    font-size: 1.3em;
  }
  .galeriaLetras {
    font-size: 2.2em;
  }
  /*ubicanos responsive*/
  .title-1 {
    font-size: 1.5em;
  }
  .sub-2 {
    font-size: 1.3em;
    color: black;
    text-align: center;
  }
  .text-3 {
    color: #FF033E;
    font-size: 1.5em;
  }
  iframe {
    width: 100%;
  }
  /*contacto responsive*/
  .h1-Contacto {
    font-size: 2em;
  }
  .lab-form {
    width: 100%;
    font-size: 1.5em;
  }
  .input-form {
    width: 60%;
  }
  .contacto-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .boton-Enviar {
    width: 30% !important;
  }
  .logo-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-icon-conteiner img {
    width: 25% !important;
  }
}
@media (min-width: 1200px) {
  h1,
  h2 {
    display: block;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 37ch;
    overflow: hidden;
    font-size: 2em;
    animation: typing 2s steps(30), blink 0.5s infinite step-end alternate;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .nombres-Seccion {
    text-align: left;
    text-decoration: underline;
  }
  .secciones {
    margin: 1em 0em;
  }
  .home-h2 {
    font-size: 2em;
    margin: 0.5em;
  }
  .fotos-Home {
    width: 35% !important;
  }
  .bg-negro {
    font-size: 1.3em;
    margin: 0.3em;
    color: black;
  }
  .button div, .boton-nosotros-serv div {
    width: 20% !important;
  }
  /* Nosotros responsive */
  .title-Nosotros {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }
  .nombres-Seccion {
    font-size: 2.2em;
  }
  .descripciones-Nosotros {
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin: 1em;
  }
  .nosotros-Box-2 {
    display: flex;
    width: 100%;
  }
  .descripciones-Team {
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
  }
  .img-Nosotros {
    width: 35% !important;
  }
  .title-ser {
    font-size: 2em;
  }
  .serv-Descrip {
    font-size: 1.5em;
  }
  .font-Letra {
    font-size: 1.3em;
  }
  .bg-Violeta {
    font-size: 1.5em;
  }
  .galeriaLetras {
    font-size: 2.2em;
  }
  /*ubicanos responsive*/
  .title-1 {
    font-size: 3em;
  }
  .sub-2 {
    text-align: center;
    font-size: 1.5em;
    margin: 3em;
  }
  .text-3 {
    font-size: 2em;
  }
  .ubicanos-Mapa iframe {
    width: 100%;
  }
  /*contacto responsive*/
  .h1-Contacto {
    font-size: 2em;
  }
  .lab-form {
    width: 60%;
  }
  .contacto-Form textarea {
    width: 60%;
  }
  .contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-form {
    width: 50%;
  }
  .boton-Enviar {
    width: 30% !important;
  }
  .h2Error {
    font-size: 2.2em;
    font-weight: bold;
  }
  .p-Error {
    font-size: 1.5em;
  }
}
@media (min-width: 1500px) {
  .home-h2 {
    font-size: 2.2em;
  }
  .nombres-Seccion {
    font-size: 2em;
  }
  .w-100 {
    width: 40%;
  }
  .bg-Negro {
    color: black;
    font-size: 1.3em;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
  }
  .bg-Negro:first-letter {
    color: #6F00FF;
    font-size: 1.5em;
    line-height: 1.6em;
  }
  /* Nosotros responsive */
  .title-Nosotros {
    font-size: 2.2em;
    text-align: center;
  }
  .descripciones-Nosotros {
    font-size: 1.5em;
    line-height: 1.6em;
    text-align: center;
    color: #000000;
  }
  .subtitulo-Secundario {
    font-size: 2.5em;
  }
  .nosotros-Box-2 article {
    width: 25%;
  }
  .descripciones-Team {
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
  }
  .nosotros-box-2 h3 {
    text-align: left;
  }
  .img-nosotros {
    width: 30% !important;
  }
  .title-ser {
    font-size: 2.2em;
  }
  .serv-Descrip {
    font-size: 2em;
  }
  .font-Letra {
    font-size: 1.3em;
  }
  .bg-Violeta {
    font-size: 1.5em;
  }
  .galeriaLetras {
    font-size: 3em;
    font-family: "Courier New", Courier, monospace;
  }
  .ubicanos-serv_boton {
    width: 20%;
  }
  /*ubicanos*/
  .title-1 {
    font-size: 3em;
  }
  .text-3 {
    font-size: 2.2em;
    margin: 0.5em;
  }
  /*contacto*/
  .contacto-Form textarea {
    width: 50%;
  }
  .logo-footer {
    display: flex;
    justify-content: left;
  }
}
/*nav boostrap*/
.botonera {
  color: rgba(255, 255, 255, 0.9725490196);
  background-color: rgb(255, 0, 191);
}
.botonera img {
  width: 40%;
}

.botonera ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.5em;
  transition: background-size 0.3s;
}
.botonera ul li a:hover {
  color: #00CCFF;
  background-size: 50% 0.2em;
}

footer {
  background-color: rgb(255, 0, 191);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
footer .logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .logo-footer .imgLogo-footer {
  width: 50%;
}

.footer-icon-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.footer-icon-conteiner a {
  width: 50%;
}
.footer-icon-conteiner a img {
  width: 70%;
}

.linear-grandient2 {
  background-color: #E6E6FA;
}

.article-Home {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.article-Home .h1-Home {
  font-size: 1.5em;
  text-align: center;
  overflow: none;
  margin: 1.5em;
}
.article-Home .index-Parrafos {
  text-align: center;
  font-size: 1.3em;
}

.w-33 {
  background-color: rgba(255, 255, 255, 0.9725490196);
  margin: 0.8em auto;
  border-radius: 0.5em;
  width: 85%;
}

.sub-Index {
  text-align: center;
  margin-bottom: 1.5em;
}

.secciones {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nombres-Seccion {
  color: #FF033E;
  text-decoration: underline;
}

.fotos-Home {
  width: 69%;
  margin: 1em auto;
}

.letra-Negra {
  color: gray;
  font-size: 1.3em;
  text-align: center;
  font-size: 1.3em;
  margin: 1em;
}

.button, .boton-nosotros-serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}
.button div, .boton-nosotros-serv div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6F00FF;
  padding: 1em;
  border-radius: 0, 5em;
  width: 80%;
}
.button a, .boton-nosotros-serv a {
  color: rgba(255, 255, 255, 0.9725490196);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.title-Nosotros {
  margin: 1em;
}

.descripciones-Nosotros {
  margin: 1em;
  font-size: 1.3em;
}
.descripciones-Nosotros::first-letter {
  color: #00BFFF;
  font-size: 1.5em;
}

.nosotros-Box-2 {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em auto;
}
.nosotros-Box-2 article {
  background-color: rgba(255, 255, 255, 0.9725490196);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6em auto;
  width: 90%;
  border-radius: 0.6em;
}
.nosotros-Box-2 article .subtitulo-Secundario {
  text-decoration: underline;
  color: rgb(255, 0, 191);
}
.nosotros-Box-2 article .descripciones-Team {
  margin: 1em;
  font-size: 1.2em;
  color: gray;
  font-family: "Roboto";
  text-align: center;
  text-align: center;
}
.nosotros-Box-2 .img-Nosotros {
  width: 60%;
  margin: 0.6em auto;
}

/* Css de Servicios*/
.h1-Servicios {
  text-align: center;
  margin: 1em;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
}

.servicios-Box1 {
  display: flex;
  flex-direction: column;
  margin: 0em 1em;
  font-size: 1.3em;
  text-align: center;
}
.servicios-Box1 article {
  margin: 0.6em auto;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.9725490196);
}
.servicios-Box1 article .serv-Descrip {
  font-size: 1.5em;
  color: #FF033E;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}
.servicios-Box1 article .serv-Descrip .font-Letra {
  font-size: 1.5em;
}
.servicios-Box1 article .serv-Descrip .font-Letra:first-letter {
  color: #00BFFF;
  font-size: 1.3em;
}

.bg-Violeta {
  color: blue;
  list-style: decimal;
  text-transform: uppercase;
  font-size: 1em;
}

.galeriaLetras {
  margin: 1em auto;
  text-transform: uppercase;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}
.gallery .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.gallery .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.gallery .img-fluid {
  width: 80% auto;
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
/*pag ubicanos*/
.title-1 {
  text-align: center;
  margin: 1em auto;
}

.h-2 {
  font-size: 1.5em;
  color: black;
  font-family: Georgia;
  text-align: center;
  text-align: center;
}

.text-3 {
  color: #FF033E;
  margin: 1em;
  font-size: 1.5em;
}

.ubicanos-Mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}
.ubicanos-Mapa iframe {
  width: 100%;
}

.h1-Contacto {
  margin: 0.5em;
  font-size: 2em;
  color: black;
  font-family: "Courier New";
  text-align: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form .contacto-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form label {
  color: blue;
  font-size: 1.3em;
}
form .contacto-Form textarea {
  width: 100%;
}
form .boton-Enviar {
  background-color: #66FF00;
  color: rgba(255, 255, 255, 0.9725490196);
  font-size: 1.3em;
  font-weight: bold;
  width: 80%;
  margin: 0.6em auto;
  border: solid transparent;
}

.h2Error {
  text-align: center;
  align-items: center;
}

.p-Error {
  color: blue;
  text-align: center;
  margin: 0.5em;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error404 {
  font-family: "Courier New", Courier, monospace;
  font-size: 12em;
  padding: 0.3em;
  color: burlywood;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px white, 1px 2px 1px white, 1px 3px 1px white, 1px 4px 1px white, 1px 5px 1px white, 1px 6px 1px white, 1px 7px 1px white, 1px 8px 1px white, 1px 9px 1px white, 1px 10px 1px white, 1px 17px 1px rgba(16, 14, 14, 0.4), 1px 18px 1px rgba(16, 14, 14, 0.4), 1px 22px 1px rgba(16, 14, 14, 0.4), 1px 25px 1px rgba(16, 14, 14, 0.4), 1px 30px 1px rgba(16, 14, 14, 0.4);
}

/*# sourceMappingURL=main.css.map */
