@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');



body {
    background-color: rgb(255, 214, 220);
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto' sans-serif;
    color: white;

}
p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1em;
}
h1 {

    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.2em;
    line-height: 1em !important;
}


/*index Article + Box 2 - Secciones */

.article-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    
}

.article-home h1 {
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin-bottom: 1em;
}

.article-home p {
    text-align: center;
    
}


.home-h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

.secciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
    
}

.secciones article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secciones p {
    text-align: center;
}
.nombres-seccion{
    color: crimson;
}

.fotos-home {
    width: 99%

}
.home-boton-serv{
    background-color: white;
    color: red;
    padding: 0.5em 0.5em;
    margin: 2em;
   }
   .boton-index-serv{
    margin-top: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
}

.boton-index-serv a {
    background-color: black;
    padding: 1em;
    color: white;
    border: 5px solid white;
}

    /* INICIO DE Footer */


footer {
    background-color: #ff1493;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  
}
.footer-icon-conteiner{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 50%;
  
}

.footer-icon-conteiner a {
    width: 30%;

}

.footer-icon-conteiner img {
    
    width: 70%;
}
.logo-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.imgLogo-footer{
    width: 50%;
    
    
}
.footer-H2{
    text-decoration:overline;
    color: aqua;
    text-align: center;
}
/*nav boostrap*/
.botonera {
    color: azure;
    background-color: #ff1493;
}
.botonera img {
    width: 30%;
}
.botonera ul li a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

/*menu-HAMBURGESA*/
.boton-Hamburgesa {
    border: solid white 1.3px;
    border-radius: 1em;
}

/*titulos y textos*/
.Font::first-letter {
    color: rebeccapurple;
    font-size: 1.5em;
    line-height: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo-principal {
    font-family: 'Roboto' sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: deeppink;
    padding: 1.5em;
}
.subtitulo-secundario {
    color: #ff1493;
}
.index-l {
    font-size: 1.6em;
}
.serv-l {
    text-align: center;
    padding: 1em;
    font-size: 2.3em;
    color: blueviolet;

}
.p-descripciones {
    font-family: 'Reboto';
    font-size: 2em;
    font-weight: 500;
    color: black;

}
.descripciones-servicios {
   font-size: 1.4em;
   margin: 2.5em;
}
.itemTab {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 3em;
    position: relative;
    color: blue;
    font-size: 1.4em;
    list-style: none;
}

/*ver que es*/
.cuerpoDePag {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    position: relative;
    left: 3em;
}

/*img*/

.img-serv {
    width: 30%;
    height: 40%;
   display: block;
    margin:auto;

}

/*grid-galeria*/
.contenedor {
    display: grid;
    grid-template-columns: 25% repeat(3, 25%);
    grid-template-rows: 100px repeat(3, 300px);
    grid-template-areas:
        "actions actions actions"
        "uno uno uno"
        "dos dos dos"
        "tres tres tres";
    gap: 5px;
    flex-direction: row-reverse;
}
.contenedor .actions {
    grid-area: actions;
}
.contenedor .servicios-1 {
    grid-area: uno;

}
.contenedor .servicios-2 {
    grid-area: dos;
}
.contenedor .servicios-3 {
    grid-area: tres;
}
.pie-pagina .pie {
    grid-area: footer;
}

/*grid css de galeria*/
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
#galeria {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas:
        "img-a img-b img-c "
        "img-a img-b img-c"
        "img-d img-e img-i"
        "img-f img-e img-i"
        "img-h img-h img-g"
}

#galeria div {
    border: 6px solid violet;
}
.img-a {
    grid-area: img-a;
}
.img-b {
    grid-area: img-b;
}
.img-c {
    grid-area: img-c;
}
.img-d {
    grid-area: img-d;
}
.img-e {
    grid-area: img-e;
}
.img-f {
    grid-area: img-f;
}
.img-g {
    grid-area: img-g;
}
.img-h {
    grid-area: img-h;
}
.img-i {
    grid-area: img-i;
}

#contenedor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    grid-template-areas:
        "uno"
        "dos"
        "tres"
        "cuatro"
        "cinco"
        "seis";
}
.uno {
    grid-area: uno;
    background-color: antiquewhite;
    height: 100%;
}
.dos {
    grid-area: dos;
    background-color: antiquewhite;
}
.tres {
    grid-area: tres;
    background-color: white;
}
.cuatro {
    grid-area: cuatro;
    background-color: deeppink;
}
.cinco {
    grid-area: cinco;
    background-color: white;
}
.seis {
    background-color: deeppink;
    grid-area: seis;
}
header {
    display: flex;
    flex-direction: column;

    align-items: center;
}
header ul {
    display: flex;
    margin-right: 2em;

}
header ul li {
    color: deeppink;
    margin-right: 2em;
}
a {
    text-decoration: none;
}

/*formularios*/
.h1-contacto {
    color:blueviolet;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.buttonEnviar {
    width: 10%;    
    margin: 1em;
    color: white;
    background-color: coral;
    border-radius: 3em;
    font-family:'Courier New', Courier, monospace;
}
.contacto-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto-form textarea {
    width: 50%;
}
/*selectores*/

/*pag ubicanos*/

.title-1{
    text-decoration: underline;
    font-size: 2em;
    color: blue;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.sub-2{
    text-align:center;
    font-size: 1.5em;
    margin: 1.5em;
}
.text-3{
    color:red;
    margin: 2em;
    font-size: 2em;
}
.ubicanos-mapa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}
.ubicanos-mapa iframe {
   width: 100%;
}

/* Css de Servicios*/

.title-ser{
    font-size: 1.5em;
    text-align: center;
    color: white ;
}
.font-letra::first-letter{
    color:aqua;
    font-size: 1.3em ;
}
.font-letra{
    font-size:1.5em ;
}
.titles-h1 {
    
    font-size:1.2em;
    text-align: center;
    color: white;
    margin-top: 1em;
}
.serv-descrip{
    font-size: 1.5em;
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
}
.servicios-box1 {
    display: flex;
    flex-direction: column;
    margin: 0em 1em;
    font-size: 1em;
    text-align: center;
}
.servicios-box1 article {
    margin: 1em 1em;
}
.bg-violeta{
    color: blueviolet;
    list-style: none;
    text-transform:uppercase;
    font-size: 1.5em;
    text-decoration: overline;
}
.ubicanos__serv-boton{
    background-color:coral;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 40%;
    padding: 1em;
}
.galeriaLetras {
    color: deeppink;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}
/*css de nosotros + responsive*/
.descripciones-nosotros::first-letter{
    color: aqua;
    font-size: 1.5em;
}
.title-nosotros{
    color: white;
    margin: 1em;
    font-size: 1.6em;
}
.descripciones-nosotros{
    font-size: 1.1em ;
    line-height: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.name{
    color:crimson;
    font-family:'Roboto';
    text-align: left;
    font-size: 1.3em !important;
}
.descripcion{
    font-size: 1.3em;
    margin: 1em;
}
.sub-title-nosotros{
   font-size: 1.5em;
   text-align: center;
   color:white; 
}
.boton-nosotros-serv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.boton-serv{
    background-color: darkturquoise;
    color: white;
    padding: 1em;
    margin-top:  1em;
}
.descripciones-equip {
    text-align: center;
    color: black;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}
.img-nosotros{
    width: 60%;

}
.nosotros-box-2 {
    display: flex;
    flex-direction: column;
}

.nosotros-box-2 article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px blueviolet solid;
    margin-top: 1em;
    
}

.nosotros-box-2 h3 {
    color:deeppink;
    text-align: left;
    margin: 1em 0em;
    text-decoration: underline;
    font-size: 1.5em;
}


 /* Breakpoints index */


 @media (min-width: 768px) {
    /* Media de index  */
     .titles-h1{
        font-size: 2.2em !important;
     }
     .bg-azul{
     text-align: center;
     font-size: 1.2em;
     }
     .home-h2{
      font-size: 1.8em !important;
     }
     .nombres-seccion{
        text-align: center;
        font-size: 1.3em;
        text-decoration: overline;
        margin: 1em !important;
     }

    .secciones .home-boton-serv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    /* Nosotros responsive */

    .title-nosotros{
        font-size: 1.7em;
        text-align: center;
    }
    .descripciones-nosotros{
        font-size: 1.4em;
        text-align: center;
    }

    /*brekpoint footer*/
    .footer-icon-conteiner img {
        width: 60%;
    }
    .footer-icon-conteiner{
        width: 50%;
      
    }
    
    .footer-icon-conteiner a {
        width: 50%;
    }
    
    .footer-icon-conteiner img {
        width: 30%;
    }
    .imgLogo-footer{
        width: 50%;
    }
    .footer-H2{
        text-decoration:overline;
        color: aqua;
        text-align: center;
    }

 }

@media (min-width: 1200px) {
       .nombres-seccion {
        text-align: left;
        text-decoration: underline;
        font-size: 1.em;
       }
    
     .secciones{
        display: flex;
        flex-direction:row;
        margin:1em 0em;
     }
     .home-h2{
        font-size:2em !important;
        margin: 0.5em;
     }
     .botonServ{
        margin:2em;
       }
       .bg-azul{
        font-size: 1.3em;
        margin: 0.3em;
        color: blue;
       }
    .w-33{
        width: 33%;
        margin: 1em;
    }
     .botonServ{
        margin-left:32em;
        padding: 1.2em;
        color:turquoise;
     }
 
        /* Nosotros responsive */

    .title-nosotros{
        font-size: 2em;
        text-align: center;
    }
    .descripciones-nosotros{
        font-size: 1.4em;
        line-height: 1.6em;
        text-align: center;
    }    
    .nosotros-box-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .nosotros-box-2 article {
        width: 50%;
    }
    .descripciones-equip{
        font-size: 1.3em;
        font-family: "Roboto", sans-serif ;
    }
  
     /*brekpoint footer*/
    }
    .footer-icon-conteiner img {
        width: 30%;
    }
    .footer-icon-conteiner{
        width: 30%;
      
    }
    
    .footer-icon-conteiner a {
        width: 20%;
    }
    
    .footer-icon-conteiner img {
        width: 40%;
    }
    .imgLogo-footer{
        width: 50%;
    }
    .footer-H2{
        text-decoration:overline;
        color: aqua;
        text-align: center;
    }
 }

    @media (min-width: 1500px) {
        .home-h2{
            font-size: 2.2em !important;
        }
        .nombres-seccion{
            font-size: 1.7em !important;
            
        }
        .secciones{
           background-color: wheat;
        }
        .bg-azul::first-letter{
            color: aqua;
            font-size: 1.5em;
            line-height: 1.6em;
        }
       .secciones article{
        border:0;
       }
      .botonServ{
      display: flex;
      justify-content:center;
      width: 20%;
      align-items:flex-start;
      top: 3em;
    }
      /* Nosotros responsive */

      .title-nosotros{
        font-size: 2.2em;
        text-align: center;
    }
    .descripciones-nosotros{
        font-size: 1.4em;
        line-height: 1.6em;
        text-align: center;
        color: black;
    }    
    .nosotros-box-2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .nosotros-box-2 article {
        width: 25%;
    }
    .descripciones-equip{
        font-size: 1.3em;
        font-family: "Roboto", sans-serif ;
    }
    .nosotros-box-2 h3{
        text-align: left;
    }
    }



}
