//  texts color

.text-Degrade {
    
     color: #6F00FF; background-image: -webkit-linear-gradient(225deg, #6F00FF 40%, #ef56b9 71%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          
}