.h1-Contacto {
    margin: 0.5em;
    @include textos(2em, black, 'Courier New', center);
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;

    .contacto-Form {
        @include flex(column, center, center);
    }

    label {
        color: map-get($map: $colores , $key: doce);
        font-size: $text-m;
       
    }

    .contacto-Form textarea {
        width:$w-100;
    }

    //boton de enviar  animado
    .boton-Enviar {
       background-color: map-get($map: $colores , $key: trece);
       color: $colorPrincipal;
       font-size:$text-m;
       font-weight: bold;
       width:$w-80 ;
       margin: 0.6em auto;
       border: solid transparent;
}
}