// Introduccion de Index
.linear-grandient2 {
    background-color: map-get($map: $colores , $key: ocho);
}

.article-Home {
    display: flex;
    flex-direction: column;
    width:$w-100;

    .h1-Home {
        font-size: $text-g;
        text-align: center;
        overflow: none;
        margin: 1.5em;
    }

    .index-Parrafos {
        text-align: center;
        font-size: $text-m;
    }
}
.w-33{
    background-color:$colorPrincipal ;
    margin: 0.8em auto;
    border-radius: 0.5em;   
    width: $w-85;
    
}
.sub-Index {
    text-align: center;
    margin-bottom: 1.5em;
}

// Secciones de Index - Box 2

.secciones {
    display: flex;
    flex-direction: column;
    width:$w-100;
}

.nombres-Seccion {
    color: map-get($map: $colores , $key: tres);
    text-decoration: underline;

}

.fotos-Home {
    width: 69%;
    margin:  1em auto;
}

.letra-Negra {
    color: map-get($map: $colores , $key: diez);
    font-size: $text-m;
    text-align: center;
    font-size: $text-m;
    margin: 1em;
}

//animaciones botones  animado
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $w-100;
    margin-bottom: 2em;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:$keyColor ;
        padding: 1em;
        border-radius: 0, 5em;
        width:$w-80;
    }

    a {
        color:$colorPrincipal ;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
    }
}