// carousel bs
.carousel-imagenes {
    height: 25em;
    object-fit: cover;
}

//media de
@media (min-width:604px) {
    .footer-icon-conteiner {
        img {
            width: $w-30 !important;
        }
    }
}

/* Breakpoints index */
@media (min-width: 768px) {

    /* Media de index  */

    .h1-Home {
        font-size: $text-xxg ;
    }

    .fotos-Home {
        width: $w-50 !important;
    }

    .nombres-Seccion {
        text-align: center;
        font-size: $text-lg;
    }

    .secciones {
        @include flex(column, center, center);
        margin: 0;
    }

    .button {
        div {
            width:$w-50 !important;
        }
    }

    /* Nosotros responsive */

    .title-Nosotros {
        font-size: $text-lg;
        text-align: center;
    }

    .img-Nosotros {
        width: $w-50!important;
    }

    .descripciones-Nosotros {
        font-size: $text-g;
        text-align: center;
    }

    .nosotros-Box-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: $w-100;


        .nosotros-Box-2 article {
            width: $w-50;
            @include flex(row, center, center);
            flex-wrap: nowrap;
            width: $w-40 !important;
        }
    }

    //servicios//

    .title-ser {
        font-size: $text-lg;
    }

    .serv-Descrip {
        font-size: $text-lg;
    }

    .font-Letra {
        font-size: $text-m;
        text-align: center;
        margin: 0.4em;
    }

    .bg-Violeta {
        li {
            font-size: $text-m;
        }
    }

    .galeriaLetras {
        font-size: $text-xxg;
    }

    /*ubicanos responsive*/

    .title-1 {
        font-size: $text-g;
    }

    .sub-2 {
        font-size: $text-m;
        color: map-get($map: $colores , $key: uno);
        text-align: center;

    }

    .text-3 {
        color: map-get($map: $colores , $key: tres);
        font-size: $text-g;
    }

    iframe {
        width: $w-100;
    }

    /*contacto responsive*/

    .h1-Contacto {
        font-size: $text-lg;
    }

    .lab-form {
        width: $w-100;
        font-size: $text-g;
    }
.input-form{
    width: $w-60;
}

    .contacto-Form {
        display: flex;
        justify-content: center;
        align-items: center;
        width:$w-100;
    }

    .boton-Enviar {
        width: $w-30 !important;
    }

    //start footer

    .logo-footer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-icon-conteiner {


        img {
            width: $w-25 !important;
        }
    }
}




@media (min-width: 1200px) {

    // start index

    h1,
    h2 {
        display: block;
        font-family: 'Courier New', Courier, monospace;
        white-space: nowrap;
        border-right: 4px solid;
        width: 37ch;
        overflow: hidden;
        font-size: $text-lg;

        animation: typing 2s steps(30), blink .5s infinite step-end alternate;
    }

    @keyframes typing {
        from {
            width: 0;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    .nombres-Seccion {
        text-align: left;
        text-decoration: underline;
    }

    .secciones {

        margin: 1em 0em;
    }

    .home-h2 {
        font-size: $text-lg ;
        margin: 0.5em;
    }

    .fotos-Home {
        width: 35% !important;
    }

    .bg-negro {
        font-size: $text-m;
        margin: 0.3em;
        color: map-get($map: $colores , $key: uno);
    }



    .button {
        div {
            width: 20% !important;
        }

    }

    /* Nosotros responsive */
    .title-Nosotros {
        font-size: $text-lg;
        text-align: center;
        font-weight: bold;
    }

    .nombres-Seccion {
        font-size: $text-xxg;
    }

    .descripciones-Nosotros {
        font-size: $text-g;
        line-height: $text-g;
        text-align: center;
        margin: 1em;
    }

    .nosotros-Box-2 {
        display: flex;
        width: $w-100;
    }

    .descripciones-Team {
        font-size: $text-m;
        font-family: $font-tipoPrimario;
    }

    .img-Nosotros {
        width: 35% !important;
    }



    //servicios//
    .title-ser {
        font-size: $text-lg;
    }

    .serv-Descrip {
        font-size: $text-g;
    }

    .font-Letra {
        font-size: $text-m;
    }

    .bg-Violeta {
        font-size: $text-g;
    }

    .galeriaLetras {
        font-size: $text-xxg;
    }

    /*ubicanos responsive*/
    .title-1 {
        font-size: $text-xxxg;
    }

    .sub-2 {
        text-align: center;
        font-size: $text-g;
        margin: 3em;
    }

    .text-3 {
        font-size: $text-lg;
    }

    .ubicanos-Mapa iframe {
        width: $w-100;
    }

    /*contacto responsive*/
    .h1-Contacto {
        font-size: $text-lg;
    }

    .lab-form {
        width: $w-60;
    }

    .contacto-Form textarea {
        width: $w-60;
    }

    .contacto-form {
        @include flex(column, center, center);
    }

    .input-form {
        width: $w-50;
    }

    .boton-Enviar {
        width:$w-30 !important;
    }

    //error 404
    .h2Error {
        font-size: $text-xxg;
        font-weight: bold;
    }

    .p-Error {
        font-size: $text-g;
    }
}

// EMPIEZA MEDIA DE 1500

@media (min-width: 1500px) {
    // start index

    .home-h2 {
        font-size: $text-xxg;
    }

    .nombres-Seccion {
        font-size: $text-lg;
    }

    .w-100 {
        width: $w-40;
    }

    .bg-Negro {
        color: map-get($map: $colores , $key: uno);
        font-size: $text-m;
        line-height: 1.5em;
        font-family: $font-tipoPrimario;
    }

    .bg-Negro:first-letter {
        color: map-get($map: $colores , $key: cuatro);
        font-size: $text-g;
        line-height: 1.6em;
    }


    /* Nosotros responsive */

    .title-Nosotros {
        font-size: $text-xxg;
        text-align: center;
    }

    .descripciones-Nosotros {
        font-size: $text-g;
        line-height: 1.6em;
        text-align: center;
        color: $colorText;
    }

    .subtitulo-Secundario {
        font-size: 2.5em;
    }

    .nosotros-Box-2 article {
        width: 25%;
    }

    .descripciones-Team {
        font-size: $text-m;
        font-family: $font-tipoPrimario;
    }

    .nosotros-box-2 h3 {
        text-align: left;
    }

    .img-nosotros {
        width: $w-30!important;
    }

    //servicios///
    .title-ser {
        font-size: $text-xxg;
    }

    .serv-Descrip {
        font-size: $text-lg;
    }

    .font-Letra {
        font-size: $text-m;
    }

    .bg-Violeta {
        font-size: $text-g;
    }

    .galeriaLetras {
        font-size: $text-xxxg;
        font-family: $font-tercer;
    }

//boton de ubicarnos
    .ubicanos-serv_boton {
        width: 20%;
    }

    
    /*ubicanos*/
    .title-1 {
        font-size: $text-xxxg;
    }

    .text-3 {
        font-size: $text-xxg;
        margin: 0.5em;
    }

    /*contacto*/

    .contacto-Form textarea {
        width: $w-50;
    }

    //footer breakpoint
    .logo-footer {
        display: flex;
        justify-content: left;
    }
}