/*nav boostrap*/

.botonera {
    color: $colorPrincipal;
    background-color: $bg-Footer;


    img {
        width:$w-40 ;
    }
}

//animacion botonera
.botonera ul li a {
    color: map-get($map: $colores , $key: dos);
    text-decoration: none;
    font-size: $text-g;
    font-family: $font-tipo-Secundario;
    font-weight: $text-light;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.5em;
    transition: background-size .3s;

    &:hover {
        color:$colorMain;
        background-size: 50% 0.2em;
    }
}




footer {
    background-color: map-get($map: $colores , $key: siete);
    @include flex(row, flex-end, center);

    .logo-footer {
        display: flex;
        align-items: center;
        justify-content:flex-start;

        .imgLogo-footer {
            width: $w-50;
        }
    }
}

.footer-icon-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $w-50;
        a {
            width:$w-50;
                img {
                    width: $w-70;
                }
        }
 
}
    
