.title-Nosotros {
    margin: 1em;
}

.descripciones-Nosotros {
    margin: 1em;
    font-size: $text-m;

    &::first-letter {
        color: map-get($map: $colores , $key: once);
        font-size: $text-g;
    
    }

}

.nosotros-Box-2 {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em auto;

    article {
        background-color:$colorPrincipal;
        @include flex(column, center, center);
        margin: 0.6em auto;
        width:$w-90;
        border-radius: 0.6em;
    

        .subtitulo-Secundario {
    
            text-decoration: underline;
            color:  map-get($map: $colores , $key: siete);
        }

            .descripciones-Team {
                margin: 1em;
                @include textos(1.2em, gray, 'Roboto', center );
            }
        }
            .img-Nosotros {
                width: $w-60;
                margin: 0.6em auto;
            }
        }

    //boton de nosotros animado
    .boton-nosotros-serv{
        @extend .button;

    }
    