/*pag ubicanos*/
    .title-1 {
       text-align: center;
       margin: 1em auto;
    }

    .h-2 {
        @include textos(1.5em, black, Georgia, center);

    }

    .text-3 {
        color: map-get($map: $colores , $key: tres);
        margin: 1em;
        font-size: $text-g;
    }


    .ubicanos-Mapa {
        @include flex(row, center, center);
        margin-bottom: 5em;

        iframe {
            width: $w-100;
        }
    }
