//variables globales//
$body-bgColor: #E6E6FA;;
$bg-Footer: rgb(255, 0, 191);


//colores de textos//
$colorPrincipal:#fffffff8;
$colorText:#000000;
$colorSecundario:#FF033E;
$keyColor:#6F00FF;
$color-title:lightblue;
$colorMain:#00CCFF;


//tamaño
$w-25:25%;
$w-30:30%;
$w-40:40%;
$w-50:50%;
$w-60:60%;
$w-70:70%;
$w-80:80%;
$w-85:85%;
$w-90:90%;
$w-100:100%;


//fonts//
$font-tipoPrimario: 'Roboto',sans-serif;
$font-tipo-Secundario: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-tercer:'Courier New', Courier, monospace;
$text-m:1.3em;
$text-g:1.5em;
$text-sm:1em;
$text-lg:2em;
$text-xxg:2.2em;
$text-xxxg:3em;
$text-xbig:103em;
$text-n:700;
$text-light:300;












