//variables globales//
$body-bgColor:rgb(255, 214, 220);
$bg-Footer:#ff1493;

//colores de textos//
$colorPrincipal:#fffffff8;
$colorText:#000000;
$colorSecundario:crimson;
$keyColor:blueviolet;
$color-title:lightblue;
$colorMain:dodgerblue;


//fonts//
$font-tipoPrimario: 'Roboto',sans-serif;
$font-tipo-Secundario: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-tercer:'Courier New', Courier, monospace;
$text-m:1.3em;
$text-g:1.5em;
$text-sm:1em;
$text-lg:2em;
$text-n:700;
$text-light:300;













